html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: 'Gotham Pro', sans-serif;
  font-size: 18px;
}
h2 {
  font-family: 'Gotham Pro Bold', sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 1;
  color: #221f1f;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  background-color: #27273e;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.logo {
  display: inline-block;
  margin: 13px 0;
}
.logo__img {
  max-width: 100%;
}
.contacts {
  text-align: right;
  margin-top: 22px;
}
.contacts__tel {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
.contacts__worktime {
  opacity: 0.7;
  color: #ec1e79;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.banner {
  background-color: #27273e;
}
.page {
  margin-top: 65px;
  margin-bottom: 70px;
}
.comments-page {
  margin-top: 50px;
  margin-bottom: 63px;
}
.page-wrapper {
  display: flex;
}
.sidebar {
  width: 20%;
}
.menu__list {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.menu__item {
  margin-bottom: 38px;
}
.menu__link {
  display: inline-block;
  color: #ec1e79;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
}
.menu__link:hover {
  color: #000;
  text-decoration: underline;
}
.menu__link:before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 18px;
  margin-right: 17px;
  background: no-repeat center center;
}
.menu__item--main--icon:before {
  background-image: url('../img/icons/main_icon.png');
}
.menu__item--main--icon:hover:before {
  background-image: url('../img/icons/main_icon_active.png');
}
.menu__item--feed--icon:before {
  background-image: url('../img/icons/feed_icon.png');
}
.menu__item--feed--icon:hover:before {
  background-image: url('../img/icons/feed_icon_active.png');
}
.menu__item--wallet--icon:before {
  background-image: url('../img/icons/wallet_icon.png');
}
.menu__item--main--icon--active:before {
  background-image: url('../img/icons/main_icon_active.png');
}
.menu__item--feed--icon--active::before {
  background-image: url('../img/icons/feed_icon_active.png');
}
.active__item {
  color: #000;
  text-decoration: underline;
}
.content {
  width: 80%;
}
.page-title {
  margin-bottom: 65px;
}
.comments-title {
  margin-bottom: 50px;
}
.features__list {
  display: flex;
  padding-left: 24px;
}
.features {
  margin-bottom: 95px;
}
.features__item {
  display: inline-block;
  text-align: center;
  margin-right: 68px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__item--head {
  width: 68px;
  height: 68px;
  background-color: #27273e;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 35px;
}
.features__item--img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.features__item--desc {
  color: #212121;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  margin-bottom: 28px;
}
.features__item--text {
  color: #221f1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}
.features__item--list {
  text-align: left;
}
.features__item--point {
  list-style: disc;
  color: #cc3366;
  list-style-position: inside;
  margin-bottom: 18px;
}
.features__item--point span {
  color: #000;
  margin-left: 25px;
}
.news {
  margin-bottom: 65px;
}
.comments {
  margin-bottom: 55px;
}
.breadcrumbs {
  margin-bottom: 28px;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item {
  font-family: 'Gotham Pro Italic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}
.breadcrumbs__link {
  color: #ec1e79;
  text-decoration: underline;
}
.breadcrumbs__item::after {
  content: '/';
  display: inline-block;
  margin: 0 4px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__active {
  text-decoration: none;
  color: rgba(34, 31, 31, 0.8);
}
.news__photo {
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  width: 20%;
}
.reviews__photo {
  width: 160px;
  height: 160px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__img {
  opacity: 0.3;
}
.photo {
  display: block;
  max-width: 100%;
}
.news__block {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 24px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}
.news__block:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.news__content {
  display: inline-block;
  width: 78%;
  margin-left: 20px;
}
.news__date {
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.news__heading {
  font-family: 'Gotham Pro Bold', sans-serif;
  font-weight: 700;
  line-height: 21px;
  padding-top: 3px;
}
.news__text {
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 10px;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pages__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages__item {
  margin-right: 12px;
}
.pages__desc {
  margin-right: 20px;
  color: #656464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.pages__arrow--left {
  opacity: 0.3;
}
.pages__arrow--left,
.pages__arrow--right {
  color: #221f1f;
  vertical-align: middle;
}
.pages__number {
  display: inline-block;
  color: #221f1f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
.pages__number--active {
  width: 25px;
  height: 25px;
  background-color: #27273e;
  color: #fff;
  border-radius: 5px;
}
.stock {
  background: url('../img/pattern.png') #27273e repeat center center;
  background-size: contain;
  margin-bottom: 57px;
}
.stock__content {
  text-align: left;
  max-width: 613px;
  margin-left: 233px;
  padding: 48px 0;
  color: #ffffff;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  line-height: 1.8;
}
.stock__discount {
  color: #ec1e79;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
}
.footer {
  background-color: #27273e;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 14px;
}
.footer__desc {
  font-size: 14px;
  color: #fff;
  font-family: "Gotham Pro Light", sans-serif;
  font-weight: 300;
  flex-basis: 257px;
}
.footer__link {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.footer__text {
  color: #fff;
  font-weight: 700;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__social {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  padding-top: 6px;
}
.social__block {
  margin-top: 9px;
}
.social__item {
  display: inline;
}
.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d4d4d8;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.social__icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.social__active {
  background-color: #ec1e79;
}