.breadcrumbs {
  margin-bottom: 28px;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item {
  font-family: 'Gotham Pro Italic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}
.breadcrumbs__link {
  color: #ec1e79;
  text-decoration: underline;
}
.breadcrumbs__item::after {
  content: '/';
  display: inline-block;
  margin: 0 4px;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__active {
  text-decoration: none;
  color: rgba(34, 31, 31, 0.8);
}