.features__item {
  text-align: center;
  border: 1px solid #e8e9ed;
  padding: 30px 34px 31px 45px;
}
.features__item--head {
  color: #221f1f;
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.features__item--desc {
  color: #212121;
  font-family: 'Gotham Pro Bold', sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.88px;
  margin-bottom: 28px;
}
.features__item--text {
  color: #221f1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}
.features__item--list {
  text-align: left;
  margin-left: 15px;
}
.features__item--point {
  list-style: disc;
  color: #cc3366;
  list-style-position: inside;
  margin-bottom: 18px;
}
.features__item--point span {
  color: #000;
  margin-left: 25px;
}