.footer {
  background-color: #27273e;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.footer__col {
  display: flex;
}
.footer__col--left {
  justify-content: flex-start;
  flex: 0.7;
}
.footer__col--right {
  justify-content: flex-end;
  flex: 2;
}
.footer__desc {
  font-size: 14px;
  color: #fff;
  font-family: "Gotham Pro Light", sans-serif;
  font-weight: 300;
}
.footer__link {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.footer__text {
  color: #fff;
  font-weight: 700;
}