.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0;
}
.logo {
  display: block;
}
.logo__img {
  max-width: 100%;
}
.contacts {
  text-align: right;
}
.contacts__tel {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
.contacts__worktime {
  opacity: 0.7;
  color: #ec1e79;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}