.page {
  margin-top: 22px;
  margin-bottom: 57px;
}
.comments-page {
  margin-top: 43px;
  margin-bottom: 50px;
}
.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-title {
  margin-bottom: 70px;
}
.comments-title {
  margin-bottom: 50px;
}
.comments {
  margin-bottom: 50px;
}