.sidebar {
  margin-right: 24px;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .nav-menu {
   justify-content: flex-start;
   margin-bottom: 33px;
 }
 .menu__list {
   display: flex;
 }
 .menu__item {
   margin-right: 90px;
 }
 .menu__item:last-child {
  margin-right: 0;
}
 .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
 }
 .menu__link:hover {
   color: #ec1e79;
 }
 .menu__link--item {
  color: #ec1e79;
 }
 .menu__link--item:hover {
   color:#221f1f;
 }
 .menu__link:before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 18px;
   margin-right: 17px;
   background: no-repeat center center;
 }
 .menu__item--main--icon:before {
   background-image: url('../../img/icons/main_icon_new.png');
 }
 .menu__item--feed--icon:before {
   background-image: url('../../img/icons/feed_icon_new.png');
 }
 .menu__item--wallet--icon:before {
   background-image: url('../../img/icons/wallet_icon_new.png');
 }
 .menu__item--main--icon--active:before,
 .menu__item--main--icon:hover:before {
   background-image: url('../../img/icons/main_icon_new.png');
 }
 .menu__item--feed--icon--active::before,
 .menu__item--feed--icon:hover:before {
   background-image: url('../../img/icons/feed_icon.png');
 }
 .menu__item--wallet--icon--active:before,
 .menu__item--wallet--icon:hover:before {
   background-image: url('../../img/icons/wallet_icon.png');
 }
 .menu__item--main::before {
  background-image: url('../../img/icons/main_icon.png');
 }
 .active__item--link::before {
  background-image: url('../../img/icons/feed_icon_active.png');
 }
 .menu__item--wallet::before {
  background-image: url('../../img/icons/wallet_icon.png');
 }
 .menu__item--main:hover::before {
  background-image: url('../../img/icons/main_icon_active.png');
 }
 .menu__item--wallet:hover::before {
  background-image: url('../../img/icons/wallet_icon_active.png');
 }
 .active__item {
   color: #ec1e79;
 }
 .active__item--link {
   color: #221f1f;
 }
 .social {
  color: #221f1f;
  font-family: "Gotham Pro Bold";
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.social__item {
  margin-right: 12px;
  display: flex;
  align-items: center;
}
.social__item:last-child {
  margin-right: 0;
}
.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}
.social__item:hover .social__link {
  background-color: #ec1e79;
  transition: background-color 0.4s ease-out;
}