.sidebar {
  margin-right: 24px;
  -webkit-box-flex: 3.2;
      -ms-flex: 3.2;
          flex: 3.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 }
 .nav-menu {
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   margin-bottom: 30px;
 }
 .menu__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }
 .menu__item {
   margin-right: 90px;
   position: relative;
 }
 .menu__item:last-child {
  margin-right: 0;
}
 .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
 }
 .menu__link:hover {
   color: #ec1e79;
   -webkit-transition: all 0.4s ease-in;
   transition: all 0.3s ease-in;
 }
 .menu__link:hover::after {
   opacity: 1;
   transition: all 0.3s ease-in;
 }
 .menu__link:hover::before {
   opacity: 0;
   transition: all 0.3s ease-in;
 }
 .menu__link--item {
  color: #ec1e79;
 }
 .menu__link--item:hover {
   color:#221f1f;
 }
 .menu__link:before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 18px;
   margin-right: 17px;
   background: url('../../img/sprite/spritesheet.png') no-repeat;
   opacity: 1;
 }
 .menu__link::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 18px;
  background: url('../../img/sprite/spritesheet.png') no-repeat;
  opacity: 0;
}
 .menu__item--main--icon--active:before,
 .menu__item--main--icon--active::after {
  background-position: -89px -33px;
 }
 .menu__item--feed--icon::before {
  background-position: -81px -5px;
 }
 .menu__item--feed--icon::after {
  background-position: -21px -5px;
 }
 .menu__item--wallet--icon::before {
  background-position: -106px -86px;
 }
 .menu__item--wallet--icon::after {
  background-position: -48px -86px;
 }
 .menu__item--main::before {
  background-position: -89px -32px;
 }
 .menu__item--main::after {
  background-position: -42px -57px;
 }
 .menu__item--feed--icon--active::before,
 .menu__item--feed--icon--active::after {
  background-position: -51px -5px;
 }
 .menu__item--wallet::before {
  background-position: -48px -86px;
 }
 .menu__item--wallet::after {
  background-position: -77px -86px;
 } 
 .menu__item--feed::before {
  background-position: -21px -5px;
 }
 .menu__item--feed::after {
  background-position: -51px -5px;
 }
 .menu__item--wallet--active::before,
 .menu__item--wallet--active::after {
  background-position: -77px -86px;
 }
 .active__item {
   color: #ec1e79;
 }
 .active__item--link {
   color: #221f1f;
 }
 .social {
  color: #221f1f;
  font-family: "Gotham Pro Bold";
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.social__item {
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item:last-child {
  margin-right: 0;
}
.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}
.social__link::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url('../../img/sprite/spritesheet.png') no-repeat;
}
.social__link--vk::before {
  background-position: -25px -83px;
}
.social__link--fb::before {
  background-position: 0px -4px;
}
.social__link--google::before {
  background-position: -42px -31px;
}
.social__link--twitter::before {
  background-position: -3px -84px;
}
.social__link--mail::before {
  background-position: -65px -31px;
}
.social__item:hover .social__link {
  background-color: #ec1e79;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}