.stock__container {
  padding: 30px 10px 33px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url('../../img/pattern.png') #27273e repeat center center;
  background-size: cover;
}
.stock__content {
  text-align: center;
  color: #ffffff;
  font-family: 'Gotham Pro Light', sans-serif;
  font-weight: 300;
  line-height: 1.8;
}
.stock__discount {
  color: #ec1e79;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
}